---
import GitHubIcon from "./icons/GitHub.astro";
import Link from './icons/Link.astro';
import {PROJECTS} from './technologies/PersonalProjects.astro';
---

{
  PROJECTS.map(({ title, description, tags, image, github, link }) => (
    <article class="py-5 gap-x-4 md-4">
      <h3 class="text-2xl font-semibold text-yellow-800 dark:text-yellow-500/90 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty" >{description}</p>
      <ul class="flex gap-2 flex-col lg:gap-x-2 lg:flex-row mb-4" >
        {
            tags.map((tag) => (
                <li>
                  <span class={`cursor-default text-white dark:text-dark bg-[#003159] dark:bg-[#003159] flex gap-x-2 rounded-full text-sm ${tag.class} py-1 px-2 hover:scale-105 hover:bg-[#195281]/80 hover:font-semibold transition`}>
                    <tag.icon class="size-4"/>
                    {tag.name}
                    
                  </span>
                </li>
            ))
          }
          {
            github && (
              <span>
              <a href={github} target="_blank" rel="noopener noreferrer" class={`text-white dark:text-dark bg-[#003159] dark:bg-[#003159] flex gap-x-2 rounded-full text-sm py-1 px-2 hover:scale-105 hover:bg-[#195281]/80 hover:font-semibold transition`}  >
                <GitHubIcon class="size-5"/>  
                Repositorio
              </a>
            </span>
            )
          }
          {
            link && (
            <span>
              <a href={link} target="_blank" rel="noopener noreferrer" class={`text-white dark:text-dark bg-[#003159] dark:bg-[#003159] flex gap-x-2 rounded-full text-sm py-1 px-2 hover:scale-105 hover:bg-[#195281]/80 hover:font-semibold transition`}  >
                <Link class="size-5"/>  
                Vista Previa
              </a>
            </span>
          )}
      </ul>
      <img class="rounded hover:shadow-2xl transition hover:shadow-white/20"  src={image} alt=`Captura de pantalla del proyecto ${title}` />
    </article>
  ))
}
